.game-board {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
}

.cell {
  border: 1px solid #c8cedd;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1.8rem;
}

.outer-top {
  border-top: 2px solid #344861;
}

.outer-bottom {
  border-bottom: 2px solid #344861;
}

.outer-right {
  border-right: 2px solid #344861;
}

.outer-left {
  border-left: 2px solid #344861;
}

.inner-top {
  border-top: 1px solid #344861;
}

.inner-bottom {
  border-bottom: 1px solid #344861;
}

.inner-right {
  border-right: 1px solid #344861;
}

.inner-left {
  border-left: 1px solid #344861;
}
